## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [13]:
# Se importan librerías
import pandas as pd
import numpy as np

In [14]:
# Se cargan los datos
df_lego_sets_raw = pd.read_csv("datasets/lego_sets.csv")
df_parent_themes_raw = pd.read_csv("datasets/parent_themes.csv")

In [15]:
# Este dataset presenta valores perdidos en algunas variables
df_lego_sets_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

In [16]:
df_lego_sets_raw.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [17]:
# Dado que la variable *set_num* es la que identifica a cada observación como única, 
# no puede ser nula ni estar duplicada, por lo tanto se eliminan las observaciones 
# con valor nulo para esta variable.
# Los resultados son guardados en nuevo dataframe

df_lego_sets = df_lego_sets_raw.dropna(subset=['set_num'])
df_lego_sets.rename(columns = {'name':'set_name'}, inplace = True)
df_lego_sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11833 entries, 0 to 11832
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   set_name      11833 non-null  object
 2   year          11833 non-null  int64
 3   num_parts     6835 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11833 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 647.1+ KB

In [18]:
# Este dataset no contiene valores perdidos
df_parent_themes_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           111 non-null    int64
 1   name         111 non-null    object
 2   is_licensed  111 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 2.0+ KB

In [19]:
df_parent_themes_raw.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [20]:
# Se toman todas las observaciones que no son duplicados. 
# El dataset no contiene duplicados.

df_lego_sets[~df_lego_sets.duplicated()]

,set_num,set_name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11828,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",2012,15.0,LEGO Brand Store,LEGO Brand Store
11829,WHITEHOUSE-1,Micro White House,2015,NaN,Promotional,Promotional
11830,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",2010,146.0,LEGO Brand Store,LEGO Brand Store
11831,WishingWell-1,Wishing Well [Toys R Us Promo],2013,NaN,Friends,Friends
11832,wwgp1-1,Wild West Limited Edition Gift Pack,1996,NaN,Cowboys,Western

In [21]:
# Se toman todas las observaciones que no son duplicados. 
# El dataset no contiene duplicados.

df_parent_themes = df_parent_themes_raw[~df_parent_themes_raw.duplicated()]
df_parent_themes

      id          name  is_licensed
0      1       Technic        False
1     22       Creator        False
2     50          Town        False
3    112        Racers        False
4    126         Space        False
..   ...           ...          ...
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

[111 rows x 3 columns]

In [22]:
# Pregunta 1. ¿Qué porcentaje de todos los sets con licencia lanzados alguna vez 
# tenían el tema de Star Wars? Guarde su respuesta como una variable the_force 
# en forma de número entero (por ejemplo, 25).
# -------------------------------------------------------------------------------

# Se hace un merge de ambos dataframes para saber cuales son los sets con licencia
df_merged = pd.merge(
    df_lego_sets, 
    df_parent_themes,
    how="left",
    left_on="parent_theme",
    right_on="name"
)

df_all_licensed = df_merged[df_merged['is_licensed']]
df_all_licensed

# Se toman todos los sets con licencia que sean de Star Wars
df_star_wars_themed = df_all_licensed[df_all_licensed['parent_theme'] == 'Star Wars']
df_star_wars_themed

# Se calcula la proporción
the_force = int((len(df_star_wars_themed) / len(df_all_licensed))*100)
the_force

51

In [23]:
#Pregunta 2. ¿En qué año Star Wars no fue el tema con licencia más popular 
# (en términos de número de sets lanzados ese año)? Guarde su respuesta como 
# una variable new_era en forma de número entero (por ejemplo, 2012).
#----------------------------------------------------------------------

# Se agrupan los sets por año, se toma el nombre del set y se calcula la moda 
# es decir, el nombre del set con más fecuencia
df_most_popular_themes_by_year = df_all_licensed.groupby('year')[['parent_theme']].agg(pd.Series.mode).reset_index()
df_most_popular_themes_by_year

# Se toma el set diferente a Star Wars y se toma el año
df_not_starwars = df_most_popular_themes_by_year[df_most_popular_themes_by_year['parent_theme'] != 'Star Wars']
new_era = int(df_not_starwars['year'])
new_era

2017